<div id="header" class="row">
    <nav class="navbar">
        <a href="#"><h1>Article Scraper</h1></a>
    </nav> <!-- END NAV -->
    
    <div class="page-header text-center">
        <div class="col-md-12">
        </div>
        <div id="navigation" class="col-md-12">
            <form action="/scrape" method="get">
                <a class="btn btn-danger pull-right" type="submit"data-toggle="modal" data-target="#new-article-modal" href="/scrape">SCRAPE NEW ARTICLES</a>
            </form>
            <form action="/scrape" method="get">
                <a class="btn btn-warning pull-right" type="submit" href="/scrape" >SAVED ARTICLES <span class="badge">12</span></a>
            </form>
        </div>
    </div>
</div> <!-- END HEADER -->

<div id="content" class="row">
    
</div>
